html, body{
  background-color: lightgrey;
}

/*Gestion tâches*/
.title{
    color: lightgrey;
    margin: auto;
}

a {
    color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.row{
    border: thick double black;
    border-radius: 25px;
    margin: 1%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
}

.row_entete{
    margin: 1%;
    display: flex;
    align-items: center;
    text-align: center;
}

.row_user{
  width: 25%;
  border: 1px solid black;
  padding: 1%;
  border-radius: 25px;
  margin: auto;
  margin-top:2%;
  text-align: center;
  background-color: white;
  transition: background-color 1s, transform 1s;
}

.row_user:hover{
  background-color: lightgrey;
  transform: scale(1.5) translate(0%, 10%);
}

.row:hover{
    background-color: wheat;
}

/*Création Tâches*/

form{
    padding: 1% 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: wheat;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
}

button{
    transition: 0.3s;
    margin: 2%;
}

button:hover{
    background-color: #212529;
    color: white;
    transition: 0.3s;
}

input{
    width: 100%;
}

textarea{
    width: 100%;
}

.contact-container{
    background-color: wheat;
    width: 25%;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    margin: auto;
}

.contact-link-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-link-box > a{
    background-color: aquamarine;
    text-decoration: none;
    text-align: center;
    color: #212529;
    width: 15%;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: 0.4s;
}

.contact-link-box > a:hover{
    color: white;
    background-color: blueviolet;
    transition: 0.4s;
}

.contact-link{
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 1.2;
    margin: 0;
    padding: 0.2em;
}

#h1-nav{
    text-align: center;
}

.container_links{
  text-align: center;
}

.link_to {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 15%;
  background: wheat;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}

.link_to:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}