{% extends "baseLayout.html" %}
{% load static %}
    {% block title %}Les tâches{% endblock %}
    {% block styles %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.css' %}">
    {% endblock %}
    {% block content %}
    <div class="row d-flex justify-content-center container">
    <div class="col-md-8">
      <div class="card-hover-shadow-2x mb-3 card">
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal">&nbsp;<h3>Listes des utilisateurs</h3></div>
        </div>
        <div class="scroll-area-sm">
          <perfect-scrollbar class="ps-show-limits">
            <div style="position: static;" class="ps ps--active-y">
              <div class="ps-content">
                <ul class=" list-group list-group-flush">
                    {% for user in users %}
                        <a href="/lesTaches/listing/{{ user.id }}/ ">
                            <li class="list-group-item">
                            <div class="todo-indicator bg-focus"></div>
                            <div class="widget-content p-0">
                              <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-2">
                                </div>
                                <div class="widget-content-left">
                                  <div class="widget-heading"> {% if user.username is not None %} <strong>{{user.username}}</strong>  |  {% endif %} <i style="font-size: medium">{{user.email}}</i></div>
                                  <div class="widget-subheading">
                                        <div><div class="badge badge-pill badge-info ml-2">NEW</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="widget-content-right">
                                    <a class="col" href="/lesTaches/EditUser/{{user.id}}/"><button type="button" class="btn btn-secondary">Modifier</button></a>
                                    <a href="/lesTaches/DeleteUser/{{user.id}}/"><button class="border-0 btn-transition btn btn-outline-danger"><i class="fa fa-trash"></i></button></a>
                                </div>
                              </div>
                            </div>
                          </li>
                        </a>
                    {% endfor %}
                </ul>
              </div>

            </div>
          </perfect-scrollbar>
        </div>
        <div class="d-block text-right card-footer">
            <a href="/lesTaches/addUser/"><button class="btn btn-primary">Ajouter</button></a>
        </div>
      </div>
    </div>
    </div>
    {% endblock %}