{% extends "baseLayout.html" %}
{% load static %}
    {% block title %}Les tâches{% endblock %}
    {% block styles %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.css' %}">
    {% endblock %}
    {% block content %}
    <div class="card">
      <div class="card-header">
        <h2>{{ tache.name }}</h2>
      </div>
      <div class="card-body">

          <h5 class="card-title">{{ tache.creation_date }}</h5>
          <p class="card-text">{{ tache.description }}</p>
          <h4>Prévue pour le : {{ tache.colored_due_date }}</h4>
          <h4>Après cette date vous êtes en retard : {{ tache.schedule_date }}</h4>
          {% if tache.owner is None %}
            <h4>Aucun utilisateur attribué</h4>
          {% else %}
            <h4>Attribué à : {{ tache.owner }}</h4>
          {% endif %}
          {% if tache.closed %}
            <i class="fas fa-lock"></i>
          {% else %}
            <i class="fas fa-lock-open"></i>
          {% endif%}
      </div>
    {% endblock %}